body{ color: #000;}
.addmission-sidebar {
    background: #eee;
}
.addmission-sidebar .nav-link{
    border-bottom: 1px solid #fff;
    color: #000;
    font-weight: 500;
    /* padding: .5rem 7rem; */
    text-align: center;
}
.addmission-sidebar .active{
    color: #4dbf1c;
}
.addmission-sidebar .nav-link:hover{
    background: rgba(0,0,0,0.6);
    color: #fff;
}
.admission-home .card h3 { margin-bottom: 1.8rem;}
.admission-home .card {
    padding: 3rem 0;
    margin-bottom: 1.5rem;
    background: #eee;
    color: #000;
}
.admission-home .btn { min-width: 200px;}
.addmission-form .form-group  { margin-bottom: 5px !important;}
.custom-select {
    min-width: 200px;
    width: auto;
    height: 35px;
    line-height: 23px;
}
 h5 { color: #000 !important; font-family:  serif; font-size: 21px;}

.btn-width { min-width: 120px;}
.custom-select ul.list li {
    border-bottom: 1px solid #eee !important;
    min-width: 200px;
}

.alert-custom {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.custom-tab { padding: 22px 5px ;}
